<html>
<head> 
<title> ToDo App </title>
<style>

  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="text"] {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3; /* Change the background color on hover */
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  #top {
    margin-top: 10px;
  }

  h2 + ul li {
    color: #555;
    text-decoration: line-through;
  }
</style>
</head>

<body>
<div class="container">
<h2> A Simple ToDo List App </h2>

<form action="/addtask" method="POST">

<input type="text" name="newtask" placeholder="add new task">
<button style="background-color: #FF5733; color: white; border: none; border-radius: 3px;"> Add Task </button>


<h2> Added Task </h2>

<% for( var i = 0; i < todo.length; i++){ %>
    <li><input type="checkbox" name="check" value="<%= todo[i] %>" style="margin-right: 5px;" /> <%= todo[i] %> </li>
<% } %>

<button formaction="/completetask" type="submit" id="top" style="background-color: #FF5733; color: white; border: none; border-radius: 3px;"> Add to complete task </button>
<button formaction="/removetask" type="submit" id="top" style="background-color: #FF5733; color: white; border: none; border-radius: 3px;"> remove task from todo</button>

</form>

<h2> Completed task </h2>

 <% for(var i = 0; i < workDone.length; i++){ %>
    <li><input type="checkbox" checked style="margin-right: 5px;"> <%= workDone[i] %> </li>
<% } %>

</div>

</body>
</html>
